:root{
  --board-list-bg-color: #e4e4e4;
  --board-list-width: 272px;
  --padding-vs: 4px;
  --padding-s: 8px;
  --board-list-border-radius: 3px;
  --content-padding-top: 4rem;
  --board-card-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 1px -2px rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.2);
}
